<div class="center">
    <div class="container">
        <h1><%= @list.name %></h1>

        <h3> <%= @list.year %> </h3>

        <% @weights.each do |weight|%>
        <% weight.weight_class%>
        <% end %>

        <%= link_to 'Back to All Rosters', root_path, class:'btn-large yellow darken-2'%>
    </div>
</div>