<div class="center">
    <div class="container">
        <h1><%= @athlete.name %></h1>
        <h2>Phone Number:</h2><h3> <%= @athlete.phone %> </h3>
        <h2>Record:</h2><h3> <%= @athlete.win_loss %> </h3>
        <h2>Grade:</h2> <h3><%= @athlete.grade %></h3>
    </div>
</div>